// Place all the styles related to the Entities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@keyframes entity-highlight {
   0% {
   background: #8f8;
   }
   100% {
   background: none;
   }
   }
   .entity-highlight {
   animation: entity-highlight 5s;
   }
  